<div class="alter-for-work__inner">
    <div class="alter-for-work__content">
        <p>Available for new projects</p>

        <a href="mailto:vuthithaogiang050400@gmail.com">Get in touch</a>

    </div>

    <div class="alter-for-work__sticky-widget-avatar">
        <img  class="avatar" alt="Vu Thi Thao Giang" src="./assets/images/my-avatar.jpg"/>
    </div>

    <div class="alter-for-work__hide-alter" id="hide-notification">
        <img alt="" src="../assets/icons/x-icon.svg" />
    </div>

</div>