<div class="footer__inner">
    <div class="footer__decoration">
        <span class="footer__separate"></span>
        <img  class="footer__image" alt="" src="./assets/icons/3d-girl.png"/>
        <span class="footer__separate"></span>
    </div>

    <div class="footer__contact">
        <h2 class="footer__name">Vu Thi Thao Giang</h2>
        <p class="footer__quote">Dream Big. Think Different. Do Great!</p>
        <a class="footer__link"  href="mailto:vuthithaogiang050400@gmail.com">
            Get in touch
            <img class="icon" alt="" src="./assets/icons/mail.svg" />
        </a>

    </div>
</div>