<div class="top-bar">
    <!-- User name -->
    <div class="top-bar__username">
        <h2>Vu Thi Thao Giang</h2>
    </div>

    <div class="top-bar__actions">
       
            <a href="mailto:vuthithaogiang050400@gmail.com" class="top-bar__btn">
                <span class="top-bar__title">Get in touch</span>
            </a>
        
        
            <button class="top-bar__switch-theme">
                <img class="top-bar__icon" alt="" src="./assets/icons/bright.svg"/>
            </button>
        </span>
        
    </div>
    
</div>