<div class="top-bar">
    <!-- User name -->
    <div class="top-bar__username">
        <button><img class="icon d-none d-lg-block" alt="" src="./assets/icons/menu-mobile.svg" /></button>
        <h2>Vu Thi Thao Giang</h2>
    </div>

    <div class="top-bar__actions">
           <button class=" top-bar__btn-back">
             <img class="icon d-none d-lg-block" alt="" src="./assets/icons/arrow-left.svg"  />
           </button>    

            <a href="mailto:vuthithaogiang050400@gmail.com" class="top-bar__btn not-bg">
                <span class="top-bar__title">Get in touch</span>
                <img class="icon d-none d-lg-block top-bar__icon" alt="" src="./assets/icons/mail.svg" />
            </a>
            <a class="top-bar__btn" id="switch-theme-btn">
                <span class="top-bar__title">Dark theme</span>
                <img class="top-bar__icon icon" alt="" src="./assets/icons/bright.svg"/>
            </a>
        </span>
    </div>
    <div class="top-bar__overlay"></div>
    
</div>