<div class="top-bar">
    <!-- User name -->
    <div class="top-bar__username">
        <h2>Vu Thi Thao Giang</h2>
    </div>

    <div class="top-bar__actions">
       
            <a href="mailto:vuthithaogiang050400@gmail.com" class="top-bar__btn not-bg">
                <span class="top-bar__title">Get in touch</span>
            </a>
        
        
            <a class="top-bar__btn" id="switch-theme-btn">
                <span class="top-bar__title">Dark theme</span>
                <img class="top-bar__icon icon" alt="" src="./assets/icons/bright.svg"/>
            </a>
        </span>
        
    </div>
    
</div>