html.dark {
  --text-color: #fff;
  --icon-filter-color: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(599%) hue-rotate(285deg) brightness(114%) contrast(100%);
  --bg-color: #333;
  --button-bg-color: #1a1919;
  --bg-overlay-intro-thumb: linear-gradient(142deg, rgb(127 127 127 / 58%) 1.8%, rgb(147 137 137 / 66%) 99.75%);
  --tag-item-text-color: #b4b3c6;
  --nav-profile-active-bg-color: #44454a;
  --separate-bg-color: #4e4e60;
  --button-switch-theme-color: #1a1919;
  --back-to-top-bg-color: #454b56;
  --back-to-top-bg-hover-color: #bdbdbd;
  --alter-for--work-bg-color: #c4b5e0;
  --nav-bar-mobile-bg-color: #1d1d1d;
  --nav-bar-mobile-item-active-bg-color: #323232;
  --button-see-more-bg-color: #807b7b;
  --overlay-work-card-color: #000000a3;
  --footer-separate-bg-color: #696969;
}

:root {
  --text-color: #000;
  --icon-filter-color: brightness(0) saturate(100%) invert(54%) sepia(27%) saturate(203%) hue-rotate(175deg) brightness(96%) contrast(85%);
  --bg-color: #fff;
  --button-bg-color: #333;
  --bg-overlay-intro-thumb:linear-gradient(142deg, rgb(219 203 225 / 58%) 1.8%, rgba(255, 255, 255, 0.66) 99.75%);
  --tag-item-text-color: #6e6d7a;
  --nav-profile-active-bg-color: #f4f5fb;
  --separate-bg-color: #e7e7e9;
  --button-switch-theme-color: #f4f5fb;
  --back-to-top-bg-color: #bdbdbd;
  --back-to-top-bg-hover-color: #454b56;
  --alter-for--work-bg-color: #fff;
  --nav-bar-mobile-bg-color: #fff;
  --nav-bar-mobile-item-active-bg-color: #f4f5fb;
  --button-see-more-bg-color: #fff;
  --overlay-work-card-color: #2b2929a3;
  --footer-separate-bg-color: #e7e7e9;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, a[href] {
  text-decoration: none;
  font-family: inherit;
  border: none;
  color: inherit;
}

button {
  outline: none;
  background-color: transparent;
}

a, button, select, textarea, li, span {
  -webkit-tap-highlight-color: transparent;
}

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.icon {
  filter: var(--icon-filter-color);
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1444px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
.header {
  --nav-height: 100px;
  top: 0px;
  background-color: var(--bg-color);
}

.top-bar {
  display: grid;
  grid-template-rows: var(--nav-height);
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
}
.top-bar__username h2 {
  font-size: 2.2rem;
  letter-spacing: 0.2px;
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .top-bar__username {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
.top-bar__overlay {
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 991.98px) {
  .top-bar__overlay {
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(85, 85, 85, 0.5019607843);
    z-index: 5;
    transition: opacity, visibility;
    transition-duration: 0.4s;
  }
}
.top-bar__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 991.98px) {
  .top-bar__actions {
    padding: 20px;
    position: fixed;
    inset: 0 50% 0 0;
    background-color: var(--nav-bar-mobile-bg-color);
    display: initial;
    z-index: 10;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    max-height: 100vh;
    overflow-y: scroll;
    overscroll-behavior: contain;
    transform: translate(-100%, 0);
    transition: transform 0.4s;
  }
  .top-bar__actions.show {
    transform: translate(0, 0);
  }
}
@media (max-width: 767.98px) {
  .top-bar__actions {
    inset: 0 20% 0 0;
  }
}
.top-bar__actions.show ~ .top-bar__overlay {
  visibility: visible;
  opacity: 1;
}
.top-bar__btn-back {
  margin-bottom: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.top-bar__btn {
  height: 44px;
  background-color: var(--button-switch-theme-color);
  border-radius: 99px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .top-bar__btn {
    position: relative;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-radius: 10px;
    background-color: transparent;
  }
  .top-bar__btn:hover {
    background-color: var(--nav-bar-mobile-item-active-bg-color);
  }
  .top-bar__btn:hover::before {
    position: absolute;
    top: 50%;
    left: -10px;
    content: "";
    height: 70%;
    width: 2px;
    background-color: #6aa5dc;
    border-radius: 20px;
    transform: translateY(-50%);
  }
}
@media (max-width: 991.98px) {
  .top-bar__btn + .top-bar__btn {
    margin-top: 16px;
  }
}
.top-bar__btn.not-bg {
  background-color: transparent;
  text-decoration: underline;
}
@media (max-width: 991.98px) {
  .top-bar__btn.not-bg {
    text-decoration: none;
    background-color: transparent;
  }
  .top-bar__btn.not-bg:hover {
    background-color: var(--nav-bar-mobile-item-active-bg-color);
  }
}
.top-bar__icon {
  width: 16px;
  cursor: pointer;
  margin-right: 16px;
}
@media (max-width: 991.98px) {
  .top-bar__icon {
    margin-left: 8px;
  }
}
.top-bar__title {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0 16px;
  color: var(--text-color);
}

.footer {
  margin-top: 40px;
  padding-bottom: 60px;
}
.footer__decoration {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__separate {
  flex: 1;
  height: 1px;
  background-color: var(--footer-separate-bg-color);
}
.footer__image {
  max-width: 140px;
  object-fit: cover;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__name {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  margin: 8px 0;
}
.footer__quote {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #8a8484;
  margin-bottom: 14px;
}
.footer__link {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #000;
  color: #fff !important;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 99px;
  cursor: pointer;
}
.footer__link img {
  width: 20px;
  filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(599%) hue-rotate(285deg) brightness(114%) contrast(100%);
}

.introduction {
  margin-top: 40px;
}
@media (max-width: 991.98px) {
  .introduction {
    margin-top: 10px;
  }
}
.introduction__inner {
  display: flex;
  gap: 32px;
}
@media (max-width: 991.98px) {
  .introduction__inner {
    flex-direction: column;
  }
}
.introduction__left {
  flex: 1;
}
.introduction__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
@media (max-width: 1199.98px) {
  .introduction__avatar {
    width: 90px;
    height: 90px;
  }
}
.introduction__name {
  margin-top: 24px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}
@media (max-width: 1199.98px) {
  .introduction__name {
    font-size: 2rem;
    margin-top: 9px;
  }
}
@media (max-width: 991.98px) {
  .introduction__name {
    display: none;
  }
}
.introduction__quote {
  margin-top: 12px;
  font-size: 4.8rem;
  font-weight: 700;
  max-width: 600px;
  line-height: 1.2;
}
@media (max-width: 991.98px) {
  .introduction__quote {
    font-size: 4.4rem;
  }
}
.introduction__quote strong {
  color: transparent;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #d872d8 0%, #6bc7d2 100%);
  background-clip: text;
  -webkit-background-clip: text;
}
.introduction__tags {
  max-width: 629px;
  margin: 24px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.introduction .tag-item {
  color: var(--tag-item-text-color);
  font-size: 1.5rem;
  line-height: 1.2;
}
.introduction__link {
  height: 44px;
  padding: 0 28px;
  background-color: var(--button-bg-color);
  color: #fff !important;
  border-radius: 99px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.5rem;
}
.introduction__right {
  height: fit-content;
  flex: 1;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .introduction__right {
    border-radius: 20px;
  }
}
.introduction__overlay {
  position: absolute;
  z-index: -1;
  inset: 10px 10px 10px 10px;
  border-radius: 30px;
  background: linear-gradient(71deg, #3e1a2a 22.92%, #3f3620 62.85%, #252d13 96.68%);
}
@media (max-width: 991.98px) {
  .introduction__overlay {
    inset: 0 0 0 0;
    border-radius: 20px;
  }
}
.introduction__thumbs {
  width: 100%;
  height: 100%;
  background: var(--bg-overlay-intro-thumb);
  backdrop-filter: blur(65.0278320313px);
  border-radius: inherit;
  padding: 38px 36px;
}
@media (max-width: 1199.98px) {
  .introduction__thumbs {
    padding: 27px 30px;
  }
}
@media (max-width: 991.98px) {
  .introduction__thumbs {
    border-radius: 20px;
  }
}
@media (max-width: 767.98px) {
  .introduction__thumbs {
    padding: 24px 24px;
  }
}
.introduction__slide {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.introduction__img {
  display: block;
  flex-shrink: 0;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  position: relative;
  animation: steps 2s infinite steps(1);
}

@keyframes steps {
  50% {
    transform: translate(-100%, 0);
  }
  10% {
    transform: translate(-200%, 0);
  }
  60% {
    transform: translate(-100%, 0);
  }
}
.profile-subnav {
  margin-top: 20px;
}
.profile-subnav__menu {
  padding-top: 20px;
  position: sticky;
  background-color: var(--bg-color);
  top: 0;
  z-index: 1;
}
.profile-subnav__list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.profile-subnav__item {
  padding: 8px 18px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}
.profile-subnav__item--current {
  background-color: var(--nav-profile-active-bg-color);
}
.profile-subnav__link {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  opacity: 0.8;
}
.profile-subnav__item.active .profile-subnav__link {
  opacity: 1;
}
.profile-subnav__separate {
  width: 100%;
  height: 1px;
  background-color: var(--separate-bg-color);
  margin-top: 24px;
}
@media (max-width: 991.98px) {
  .profile-subnav__separate {
    margin-top: 12px;
  }
}
.profile-subnav__contents {
  padding-top: 30px;
}
.profile-subnav__content {
  display: none;
}
.profile-subnav__content--current {
  display: block;
}

.back-to-top__btn {
  position: fixed;
  bottom: 50px;
  right: 40px;
  display: none;
  width: 49px;
  height: 49px;
  background-color: var(--back-to-top-bg-color);
  box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.back-to-top__btn img {
  margin: auto;
  display: block;
  width: 16px;
  filter: brightness(0) saturate(100%) invert(99%) sepia(10%) saturate(1599%) hue-rotate(170deg) brightness(122%) contrast(95%);
}
.back-to-top__btn.visible {
  display: block;
  transition: background-color 0.5s;
}
.back-to-top__btn.visible:hover {
  background-color: var(--back-to-top-bg-hover-color);
}

.alter-for-work {
  position: fixed;
  z-index: 3;
  bottom: 50px;
  left: 80px;
  display: none;
  background-color: var(--alter-for--work-bg-color);
  box-shadow: 0px 20px 60px rgba(16, 12, 12, 0.2);
  border-radius: 14px;
}
@media (max-width: 991.98px) {
  .alter-for-work {
    width: fit-content;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.alter-for-work__inner {
  position: relative;
  padding: 24px 38px;
}
.alter-for-work__sticky-widget-avatar {
  position: absolute;
  top: 50%;
  left: -30px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transform: translateY(-50%);
}
.alter-for-work__sticky-widget-avatar .avatar {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.alter-for-work__hide-alter {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #9e9ea7;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
.alter-for-work__hide-alter img {
  width: 11px;
  filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(599%) hue-rotate(285deg) brightness(114%) contrast(100%);
}
.alter-for-work__content p {
  position: relative;
  margin-bottom: 12px;
  font-weight: 500;
  padding-left: 18px;
  color: var(--text-color);
}
.alter-for-work__content p::before {
  position: absolute;
  top: 50%;
  left: 0px;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #2bca2b;
  border-radius: 50%;
  transform: translateY(-50%);
}
.alter-for-work__content a {
  display: block;
  text-align: center;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  padding: 12px 18px;
  border-radius: 99px;
}

.work-card {
  padding: 20px;
  border-radius: 10px;
  background-color: #f2f2f4;
  position: relative;
  overflow: hidden;
}
.work-card:hover .work-card__overlay {
  visibility: visible;
  opacity: 1;
}
.work-card:hover .work-card__info {
  visibility: visible;
  opacity: 1;
}
.work-card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-work-card-color);
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity, background-color;
  transition-duration: 0.4s;
}
.work-card.bg-light {
  background-color: #ecf2f3;
}
.work-card.bg-beig {
  background-color: #ece6de;
}
.work-card.bg-dark {
  background-color: #4c525c;
}
.work-card.bg-colorful-light {
  background-image: url(../images/bg-gradient-light.webp);
}
.work-card.bg-colorful-dark {
  background-image: url(../images/bg-gradient-dark.webp);
}
.work-card__inner {
  width: 100%;
  position: relative;
}
.work-card__img-wrap {
  width: 100%;
}
.work-card__thumb {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}
.work-card__info {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding: 0 12px 12px 12px;
  gap: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity;
  transition-duration: 0.4s;
}
.work-card__tittle {
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 44px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}
.work-card__link {
  flex-shrink: 0;
  display: block;
  background-color: var(--button-see-more-bg-color);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}
.work-card__link img {
  width: 14px;
}
.work-card .object-fit-contain {
  object-fit: contain !important;
}

/*# sourceMappingURL=main.css.map */
