html.dark{
    --text-color: #fff;
    --icon-filter-color: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(599%) hue-rotate(285deg) brightness(114%) contrast(100%);

    --bg-color: #333;
    --button-bg-color: #1a1919;
    

    --bg-overlay-intro-thumb: linear-gradient(142deg, rgb(127 127 127 / 58%) 1.8%, rgb(147 137 137 / 66%) 99.75%);
    --tag-item-text-color: #b4b3c6;

    --nav-profile-active-bg-color: #44454a;
    --separate-bg-color: #4e4e60;

    --button-switch-theme-color: #1a1919;
   
    --back-to-top-bg-color: #454b56;
    --back-to-top-bg-hover-color: #bdbdbd;

    --alter-for--work-bg-color: #c4b5e0;

    --nav-bar-mobile-bg-color: #1d1d1d;
    --nav-bar-mobile-item-active-bg-color: #323232;

    --button-see-more-bg-color: #807b7b;
    --overlay-work-card-color: #000000a3;

    --footer-separate-bg-color: #696969;

    --about-me-text-link-color: #cfcfcf;
    --about-me-icon-color: brightness(0) saturate(100%) invert(74%) sepia(35%) saturate(15%) hue-rotate(315deg) brightness(105%) contrast(93%);
    --about-me-bg-tag-color: #4b4b4b;
    --about-me-location-bg-clor: #393838;
    --about-me-tag-hover-text-color: #333;
    --about-me-tag-hover-bg-color: #fff;
}