:root{
    --text-color: #000;
    --icon-filter-color: brightness(0) saturate(100%) invert(54%) sepia(27%) saturate(203%) hue-rotate(175deg) brightness(96%) contrast(85%);
    

    --bg-color: #fff;
    --button-bg-color: #333;

    --bg-overlay-intro-thumb:linear-gradient(142deg, rgb(219 203 225 / 58%) 1.8%, rgba(255, 255, 255, 0.66) 99.75%);
    --tag-item-text-color: #6e6d7a;

    --nav-profile-active-bg-color: #f4f5fb;
    --separate-bg-color: #e7e7e9;

    --button-switch-theme-color: #f4f5fb;

    --back-to-top-bg-color: #bdbdbd;
    --back-to-top-bg-hover-color: #454b56;
}