.footer{
    margin-top: 40px;
    padding-bottom: 60px;

    &__decoration{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__separate{
        flex: 1;
        height: 1px;
        background-color: var( --footer-separate-bg-color);
    }

    &__image{
        max-width: 140px;
        object-fit: cover;
    }

    &__contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    &__name{
        color: var(--text-color);
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.4;
        margin: 8px 0;

    }

    &__quote{
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: #8a8484;
        margin-bottom: 14px;

    }

    &__link{
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #000;
        color: #fff !important;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 99px;
        cursor: pointer;

        img {
            width: 20px;;
            filter:brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(599%) hue-rotate(285deg) brightness(114%) contrast(100%) ;
        }
    }


}