@use "../abstracts";

.header{
    //background-color: #fff;
   --nav-height: 100px;
  
  top: 0px;
  
   background-color: var(--bg-color);

   
}

.top-bar{
   display: grid;
   grid-template-rows: var(--nav-height);
   grid-template-columns: 1fr auto;
   align-items: center;
   justify-content: space-between;

   &__username{

    h2{
      font-size: 2.2rem;
    letter-spacing: 0.2px;
    font-weight: 700;
    }
    

    @include abstracts.breakpoint(lg) {
      display: flex;
      align-items: center;
      gap: 24px;

    }
   }
   &__overlay{

    visibility: hidden;
    opacity: 0;
   
    @include abstracts.breakpoint(lg) {
     
      position: fixed;
      inset: 0 0 0 0;
      background-color: #55555580;
      z-index: 5;
      transition: opacity, visibility;
      transition-duration: 0.4s;
    }

   } 


   &__actions{
    display: flex;
    align-items: center;
    gap: 16px;

    @include abstracts.breakpoint(lg) {
        padding: 20px;
        position: fixed;
        inset: 0  50% 0 0;
        background-color: var(--nav-bar-mobile-bg-color);
        display: initial;
        z-index: 10;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        max-height: 100vh;
        overflow-y: scroll;
        overscroll-behavior: contain;
        
        transform: translate(-100%, 0);

        transition: transform 0.4s;

        &.show{
          transform: translate(0, 0);
        }
        
     } 

     @include abstracts.breakpoint(md) {
        inset: 0 20% 0 0;
     }
   
   }

   &__actions.show ~ &__overlay{
    visibility: visible;
    opacity: 1;
   }

  
   &__btn-back{
    margin-bottom: 16px;
    width: 32px;
    height: 32px;
  //  background-color: red;
    cursor: pointer;
  }

   &__btn{
     height: 44px;
     background-color: var(--button-switch-theme-color);
     border-radius: 99px;
     cursor: pointer;
     display: flex;
    
     align-items: center;
     justify-content: center;

     @include abstracts.breakpoint(lg) {
        position: relative;
        flex-direction: row-reverse;
        justify-content: flex-end;
        border-radius: 10px;
        background-color: transparent;

       

        &:hover{
          background-color: var(--nav-bar-mobile-item-active-bg-color);
          &::before{
            position: absolute;
            top: 50%;
            left: -10px;
            content: "";
            height: 70%;
            width: 2px;
            background-color: #6aa5dc;
            border-radius: 20px;
            transform: translateY(-50%);
           
          }
         
        }


     }

   }

   &__btn + &__btn {
    @include abstracts.breakpoint(lg) {
       margin-top: 16px;
    }
   }

   &__btn.not-bg{
    background-color: transparent;
    text-decoration: underline;

    @include abstracts.breakpoint(lg) {
      text-decoration: none;
      background-color: transparent;
      

      &:hover{
        background-color: var(--nav-bar-mobile-item-active-bg-color);
      }
    }
   }
     

   &__icon{
     width: 16px;
     cursor: pointer;
     margin-right: 16px;

     @include abstracts.breakpoint(lg){
      margin-left: 8px;
     }
   }

   &__title{
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 16px;
    color: var(--text-color);

    
   }
}