.back-to-top{
    &__btn{
        position: fixed;
        bottom: 50px;
        right: 40px;
        display: none;
        width: 49px;
        height: 49px;
       
    
        background-color: var(--back-to-top-bg-color);
        box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);
    
        border-radius: 50%;
        cursor: pointer;
    
        img {
            margin: auto;
            display: block;
            width: 16px;
            filter: brightness(0) saturate(100%) invert(99%) sepia(10%) saturate(1599%) hue-rotate(170deg) brightness(122%)
                contrast(95%);
        }
    }

    &__btn.visible{
        display: block;
        transition: background-color 0.5s;
    
        &:hover {
            background-color: var(--back-to-top-bg-hover-color);
        }
    }
}