.slider{

    &__container {
        position: relative;
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
      }
  
      &__wrap {
        display: flex;
        align-items: center;
        transition: transform 0.5s ease-in-out;
      }
  
      &__wrapimage {
        min-width: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
       // box-sizing: border-box;
      }
  
      &__img {
        width: 70%;
      //  height: auto;
        object-fit: cover;
        border-radius: 8px;
      }
  
      #prev, #next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color: white;
        background-color: #333;
        border: none;
        padding: 10px;
      }
  
      #prev { left: 0; }
      #next { right: 0; }
  
      #thumbnail-container {
        margin-top: 40px;
        text-align: center;
      }
  
      .thumbnail {
        width: 50px;
        height: auto;
        cursor: pointer;
        margin: 0 5px;
      }

      .thumbnail.active{
        border: 1px solid red;
      }

}