@use '../abstracts';

.work-details {
    &__center {
        margin: 0 auto;

        @include abstracts.breakpoint(lg) {
            margin: 0;
            width: 100%;
        }
    }
    &__space-between {
        justify-content: space-between;
    }

    &__header {
        padding: 24px 0 12px;
        margin-bottom: 24px;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: var(--bg-color);

        @include abstracts.breakpoint(lg) {
            margin-bottom: 10px;
        }
    }

    &__header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__title {
        color: var(--text-color);
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;

        @include abstracts.breakpoint(md) {
            font-size: 1.8rem;
        }
    }
    &__link {
        flex-shrink: 0;
        background-color: var(--about-me-tag-hover-bg-color);
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--about-me-tag-hover-text-color) !important;
        cursor: pointer;
        padding: 12px 18px;
        border-radius: 8px;
    }

    &__action {
        cursor: pointer;

        img {
            width: 16px;
            filter: var(--about-me-icon-color);
        }
    }

    &__notification {
        // margin-top: 16px;
        display: flex;
        align-items: center;
        gap: 8px;

        &--tag {
            color: #4daa57;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.4;
        }
    }

    &__img {
        max-width: 100%;
        object-fit: contain;
        display: block;
        border-radius: 8px;
        margin: 0 auto;
    }

    &__img + &__img {
        margin-top: 40px;

        @include abstracts.breakpoint(lg) {
            margin-top: 24px;
        }
    }

    &__desc {
        max-width: 60%;
        margin: 40px auto;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.4;
        color: var(--work-detail-text-color);

        @include abstracts.breakpoint(lg) {
            max-width: 90%;
            margin: 20px auto;
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}
