@use '../abstracts';


.work-card{
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f4;
    position: relative;
    overflow: hidden;
    

    &:hover   &__overlay {
            visibility: visible;
            opacity: 1;
    
     }

     &:hover &__info{
        visibility: visible;
        opacity: 1;
     }
    
    &__overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--overlay-work-card-color); 
        visibility: hidden;
        opacity: 0;
        transition: visibility, opacity, background-color;
        transition-duration: 0.4s;
    }

    &.bg-light{
        background-color: #ecf2f3;

    }

    &.bg-beig{
    background-color: #ece6de;
    }

    &.bg-grey{
        background-color: #cecbc8;
    }

    &.bg-dark{
        background-color: #4c525c;
    }

    &.bg-colorful-light{
        //background-image: url(https://images.pexels.com/photos/6775241/pexels-photo-6775241.jpeg?auto=compress&cs=tinysrgb&w=600);
        background-image:  url(../images/bg-gradient-light.webp);

    }

    &.bg-colorful-dark{
       // background-image: url(https://images.pexels.com/photos/6984984/pexels-photo-6984984.jpeg?auto=compress&cs=tinysrgb&w=600);
       background-image: url(../images/bg-gradient-dark.webp);
    }

    &__inner{
        width: 100%;
        position: relative;

    }

    &__img-wrap{
       width: 100%;
      
    
    }
    &__thumb{ 
       display: block;
        width: 100%;
        height: 300px;
        object-fit: cover;
     
        border-radius: 6px;

    }

    // ABSOLUTE
    &__info{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
        padding: 0 12px 12px 12px;
        gap: 20px;

        visibility: hidden;
        opacity: 0;

        transition: visibility, opacity;
        transition-duration: 0.4s;

    }

    &__tittle{
        color: #fff;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 44px;
        height: 44px;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;

    }

    &__link{
        flex-shrink: 0;
        display: block;
        background-color: var(--button-see-more-bg-color);
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;

        img{
            width: 14px;
        }

    }

    .object-fit-contain{
        object-fit: contain !important;
    }

}